/* 
Ejercicio completo con HTML y CSS
1. (HECHO) Crear un documento con HTML y vincularlo con un css.
2. (HECHO) Crear una estructura HTML que cuente con un CONTENEDOR GENERAL,
CABECERA, BARRA LATERAL, SECCIÓN DE CONTENIDO PRINCIPAL, ELEMENTOS DENTRO 
DEL CONTENDOR PRINCIPAL, Y FOOTER.
3. (HECHO) Todo el contenido debe estar dentro del contenedor general y su ancho
será de 1200px.
4. (HECHO) Header debe ocupar el 100% del ancho y tener un texto grande centrdado. 
5. (HECHO) Menú debe tener los elementos uno al lado del otro. 
6. (HECHO) El contenido principal debe tener un ancho del 70%
7. (HECHO) El conttenido dentro del contenedor principal debe ser
una cuadricula con 4 lineas de 2 cajas. 
8. (HECHO) La barra lateral debe tener un ancho del 30%.
9. (HECHO) El footer debe tener un ancho del 100% del 
div que lo contiene y estar abajo del todo.
*/


*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

}

#general{
    width: 1200px;
    margin: 0px auto;
    margin-top: 20px;
    border: 1px solid grey;
}

#header{
    width: 100%;
    height: 100px;
    background: rgb(15, 118, 236);
    color: white;
    text-align: center;
    line-height: 70px;
}

.clearfix{
    float: none;
    clear: both;
}

#menu{
    background-color: #eeeeee;
}

#menu ul li{
    /* display: inline-block; */
    display: block;
    float: left;
    border-right: 1px solid #cccccc;
}

#menu ul li a{
    display: block;    
    padding: 15px;
    color: #444444;
}

#menu ul li:hover{
    background: rgb(11, 85, 170);
    cursor: pointer;
}

#menu ul li:hover a{    
    color: white
}

#contenido{
    width: 70%;    
    float: left;
}

#lateral{
    float: left;
    width: 30%;
    min-height: 300px;
    max-height: 500px;
    text-align: center;
    overflow-y: scroll;

}

#contenido > h1{
    text-align: center;
    padding: 15px;
    color: #444444;
    text-shadow: 1px 1px 2px grey ;
}

#contenido .caja{
    position: relative;
    width: 40%;
    height: 250px;
    background-color: red;
    border: 1px solid grey;
    color: white;
    float: left;
    margin: 20px;
    margin-left: 40px;
    text-align: center;
    line-height: 250px;
    text-transform: uppercase;
    box-shadow: 5px 5px 15px black; 
    border-radius: 12px;
}

#footer{
    width: 100%;
    height: 55px;
    line-height: 55px;
    background: #eeeeee;
    text-align: center;
    color: #444444;
}

.libre{
    position: absolute;
    top: 300px;
    left: 50%;
    border: 1px solid black;
    background-color: red;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 13px;   
    font-family: 'Courier New', Courier, monospace; 
}

.libre2{
    background-color: green;
    top: 250px;
    left: 50%;
}

.fija{
    position: fixed;
    top: 50%;
    left: 0px;
    border: 1px solid black;
    background-color: blue;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 13px;   
    font-family: 'Courier New', Courier, monospace; 
}